{% extends "base.html" %}

{% block content %}

    <div class="content-container container">
        <p>Hexlist is a way to store links in simple groups called hexes.</p>

        <p>to make a hex go to <a href="{{ url_for('main_page') }}">our main page</a></p>

        <p>our support email is support@hexlist.com. we can help you recover lost hexes, find a good hex, or like idk time travel or something.</p>

        <p><a href="https://twitter.com/hexlist">@hexlist on twitter</a></p>
        
    </div>
    
{% endblock %}