{% extends "base.html" %}

{% block content %}
    
    <div class="content-container">
        <p class="hexlist-title">Hexlist</p>
        <p>{{ hex_name }}</p>
        {% for hexlink in hexlinks %}
            <p><a href="{{ hexlink.url }}">{{ hexlink.url }}</a></p>
        {% endfor %}
        <form action="/internal/form_create_user" method="POST" name="link_submit">
          <div class="input-container">
            {{ form.hidden_tag() }}
            {{ form.username }}
            {{ form.password }}
            {{ form.password_two }}
            <p><input type="submit" value="claim hex"></p>
          </div>
        </form>
    </div>

{% endblock %}