{% extends "base.html" %}

{% block meta %}

<title>{{ hex_object.name }} - Hexlist</title>
<meta property="og:title" content="{{ hex_object.name }}">
<meta property="og:description" content="A hex by {{ hex_object.ex_hex_owner.username }}">
<meta property="og:type" content="article">
<meta property="og:image" content="https://hexlist.com/static/hexlist-red.png">
<meta property="og:image:width" content="182">
<meta property="og:image:height" content="202">

{% endblock %}

{% block content %}

    <div class="content-container container">
        <h2 class="list-title" id="hex-title" {% if enable_editing_controls %} contenteditable="true" data-hex-id="{{ hex_object.id }}" {% endif %}>{{ hex_object.name }}
        </h2>
        <h4>
          <a class="fade-link" href="{{ url_for('hex_view', hex_object_id=next_hex.id) }}" onclick="goBack()">
            <span class="glyphicon glyphicon-menu-left" style="font-size:1.2em;vertical-align: -4px;"></span>
          </a>
          <a class="fade-link" href="{{ url_for('user_view', username=hex_object.ex_hex_owner.username) }}">
            {{ hex_object.ex_hex_owner.username }}
          </a>
          <a class="fade-link" href="{{ url_for('hex_view', hex_object_id=next_hex.id) }}">
            <span class="glyphicon glyphicon-menu-right" style="font-size:1.2em;vertical-align: -4px;"></span>
          </a>
        </h4>
        <div class="list-content">
        {% for hexlink in hex_object.ex_hexlinks %}
          <div class="list-link-div">
            <a class="list-link" href="{{ hexlink.url }}" target="_blank">
            {% if hexlink.description %}
               {{ hexlink.description }}
            {% elif hexlink.web_page_title %}
               {{ hexlink.web_page_title }}
            {% else %}
               {{ hexlink.url }}
            {% endif %}
            </a>
            {% if enable_editing_controls %}
              <span class="btn-group list-link-dropdown" style="visibility: hidden;">
                <button class="dropdown-button btn btn-mini button-transparent dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu pull-right">
                    <li><a class="rename-link" data-link-id="{{ hexlink.id }}" data-link-description="{{ hexlink.description if hexlink.description }}" data-webpage-title="{{ hexlink.web_page_title if hexlink.web_page_title }}" data-url="{{ hexlink.url if hexlink.url }}" style="cursor:pointer;"><span class="glyphicon glyphicon-pencil" style="padding-right:10px;"></span>Rename</a></li>
                    <li><a class="delete-link" data-link-id="{{ hexlink.id }}" href="#" style="color:#d9534f;"><span class="glyphicon glyphicon-trash" style="padding-right:10px;"></span>Delete</a></li>
                </ul>
              </span>
            {% endif %}
          </div>
        {% endfor %}
        </div>

        {% if form %}
          <div class="col-xs-12">
            <form action="/internal/form_make_or_claim_user_and_claim_hex/{{ hex_object.id }}" method="POST" name="link_submit">
              <div class="input-container form-group col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
                {{ form.hidden_tag() }}
                {{ form.username(class="form-control") }}
              </div>
              <div class="input-container form-group col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
                <div class="col-xs-6 nopadding-left lesspadding-right">
                  {{ form.password(class="form-control") }}
                </div>
                <div class="col-xs-6 nopadding-right lesspadding-left">
                  {{ form.password_two(class="form-control") }}
                </div>
              </div>
              <div class="col-xs-12 center-block">
                <button type="submit" class="btn btn-default center-block">claim hex</button>
              </div>
            </form>
          </div>
          <div class="terms-of-service col-xs-12 center-block">
            <p>by claiming this hex you agree to the hexlist <a href="{{ url_for('terms_view') }}" target="_blank">terms of service</a></p>
          </div>

        {% elif logged_in_claim_hex %}
          <div class="col-xs-12">
              <form action="/internal/form_make_or_claim_user_and_claim_hex_logged_in/{{ hex_object.id }}" method="POST" name="link_submit">
                <div class="col-xs-12 center-block">
                  <button type="submit" class="btn btn-default center-block">claim hex</button>
                </div>
              </form>
            </div>
          {% elif textarea_form %}
            <div class="col-xs-12">
              <form action="/internal/form_add_links_to_hex/{{ hex_object.id }}" method="POST" name="link_submit">
                <div id="add-links-form" class="hexlist-form input-container form-group">
                  {{ textarea_form.hidden_tag() }}
                  {{ textarea_form.links(class="form-control",rows="8") }}
                </div>
                <div class="col-xs-12 center-block">
                  <button type="submit" class="btn btn-default center-block">add links</button>
                </div>
              </form>
            </div>
        {% endif %}

        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <div class=flashes>
            {% for message in messages %}
              <p>{{ message }}</p>
            {% endfor %}
            </div>
          {% endif %}
        {% endwith %}
    </div>

    {% if enable_editing_controls %}
      <form method="POST" name="rename_hex" id="rename-hex-form" style="display:none;">
          {{ edit_hex_name_form.hidden_tag() }}
          {{ edit_hex_name_form.hexname(type="hidden", id="rename-hex-field") }}
      </form>
      <form method="POST" name="rename_link" id="rename-link-form" style="display:none;">
          {{ rename_link_form.hidden_tag() }}
          {{ rename_link_form.linkdescription(type="hidden", id="rename-link-field") }}
      </form>
    {% endif %}


    <script>
    function goBack() {
        window.history.back();
    }
    </script>

    {% if enable_editing_controls %}
      <script>
        $(".list-link-div").hover(function(){
          $(this).find('.list-link-dropdown').css('visibility', 'visible')
        }, function() {
          $(this).find('.list-link-dropdown').css('visibility', 'hidden')
        })
        $(".dropdown-button").mouseup(function(){
            $(this).blur();
        })

        $(".rename-link").click(function(e) {
          current_link_description = $(this).data('link-description')
          webpage_title = $(this).data('webpage-title')
          link_url = $(this).data('url')
          link_id = $(this).data('link-id')
          link_div = $(this).closest('div[class^="list-link-div"]')
          link = link_div.find('.list-link')
          link.attr('contenteditable','true')
          link.selectText()

          rename_form = $('#rename-link-form')
          rename_field = rename_form.find('#rename-link-field')

          link.on("blur", function() {
              //Revert to scraped title or url if description is empty
              if (current_link_description.length !== 0) {
                link.text(current_link_description)
              }
              else {
                if (webpage_title.length !== 0) {
                  console.log('reverting to webpage title' + webpage_title)
                  link.text(webpage_title)
                }
                else {
                  link.text(link_url) 
                }
              }
              
              link.attr('contenteditable','false')
          });
          link.bind("keydown", function(event) {
              var target = $(event.target)
              c = event.keyCode
              
              //Enter or escape
              if (c === 27 || c == 13) {
                if (c == 13) {
                  //If the title is not empty, set the new title
                  var new_link_description = $(this).text().trim()
                  //New desccription may be empty
                  //Max Length for hex title is 1000 characters
                  new_link_description = new_link_description.substring(0, Math.min(new_link_description.length,1000));
                  current_link_description = new_link_description
                  rename_field.val(current_link_description)

                  //Submit rename request
                  $.ajax({
                      url: '/internal/form_update_link_description/' + link_id,
                      data: $(rename_form).serialize(),
                      type: 'POST',
                      success: function(response) {},
                      error: function(error) {
                          console.log(error);
                          alert(error)
                      }
                  });
                }

                link.blur()
                // Workaround for webkit's bug
                window.getSelection().removeAllRanges()
              }
          });
        });
        var current_hex_name = $('#hex-title').text()
        $("[contenteditable='true']#hex-title").on("blur", function() {
            $(this).text(current_hex_name)
        });
        $('#hex-title').bind("keydown", function(event) {
            var hex_id = $(this).data('hex-id')
            var target = $(event.target)
            c = event.keyCode
            
            //Enter or escape
            if (c === 27 || c == 13) {
              if (c == 13) {
                //If the title is not empty, set the new title
                var new_hex_name = $(this).text().trim()
                if (new_hex_name.length !== 0) {
                    //Max Length for hex title is 100 characters
                    new_hex_name = new_hex_name.substring(0, Math.min(new_hex_name.length,100));
                    current_hex_name = new_hex_name
                }
                $("#rename-hex-field").val(current_hex_name)

                //Submit rename request
                $.ajax({
                    url: '/internal/form_update_hex_name/' + hex_id,
                    data: $("#rename-hex-form").serialize(),
                    type: 'POST',
                    success: function(response) {},
                    error: function(error) {
                        console.log(error);
                        alert(error)
                    }
                });
              }

              $("#hex-title").blur()
              // Workaround for webkit's bug
              window.getSelection().removeAllRanges()
            }
        });
        $(".delete-link").click(function(e) {
          link_id = $(this).data('link-id')
          link_div = $(this).closest('div[class^="list-link-div"]')
          
          $.ajax({
              url: '/internal/form_delete_link/' + link_id,
              type: 'POST',
              success: function(response) {
                link_div.remove();
              },
              error: function(error) {
                  console.log(error);
                  alert(error)
              }
          });
        });

        jQuery.fn.selectText = function(){
           var doc = document;
           var element = this[0];
           console.log(this, element);
           if (doc.body.createTextRange) {
               var range = document.body.createTextRange();
               range.moveToElementText(element);
               range.select();
           } else if (window.getSelection) {
               var selection = window.getSelection();        
               var range = document.createRange();
               range.selectNodeContents(element);
               selection.removeAllRanges();
               selection.addRange(range);
           }
        };
      </script>
    {% endif %}
{% endblock %}