{% extends "base.html" %}

{% block meta %}

<title>{{ hex_object.name }} - Hexlist</title>
<meta property="og:title" content="{{ hex_object.name }}">
<meta property="og:description" content="A hex by {{ hex_object.ex_hex_owner.username }}">
<meta property="og:type" content="article">
<meta property="og:image" content="https://hexlist.com/static/hexlist-red.png">
<meta property="og:image:width" content="182">
<meta property="og:image:height" content="202">

{% endblock %}

{% block content %}

    <div class="content-container container">
        <div>
        <h2 class="list-title" id="hex-title" {% if enable_editing_controls %} contenteditable="true" {% endif %}>{{ hex_object.name }}</h2>
        <h4>by <a class="fade-link" href="{{ url_for('user_view', username=hex_object.ex_hex_owner.username) }}">{{ hex_object.ex_hex_owner.username }}</a></h4>
        <!-- <hr> -->
        {% if enable_editing_controls %}
        <form action="/internal/form_update_hex_name/{{ hex_object.id }}" method="POST" name="rename_hex" id="rename-hex-form" style="display:none;">
            {{ edit_hex_name_form.hidden_tag() }}
            {{ edit_hex_name_form.hexname(type="hidden", id="rename-hex-field") }}
        </form>
        {% endif %}
        <div class="list-content">
        {% for hexlink in hex_object.ex_hexlinks %}
          <div class="list-link-div">
            <a class="list-link" href="{{ hexlink.url }}" target="_blank">
            {% if hexlink.description %}
               {{ hexlink.description }}
            {% elif hexlink.web_page_title %}
               {{ hexlink.web_page_title }}
            {% else %}
               {{ hexlink.url }}
            {% endif %}
            </a>
            {% if enable_editing_controls %}
              <span class="btn-group" style="display: inline-block;">
                <button class="dropdown-button btn btn-mini button-transparent dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu pull-right">
                    <li><a class="delete-link" data-link-id="{{ hexlink.id }}" href="#" style="color:#d9534f;"><span class="glyphicon glyphicon-trash" style="padding-right:10px;"></span>Delete</a></li>
                </ul>
              </span>
            {% endif %}
          </div>
        {% endfor %}
        </div>

        {% if form %}
          <div class="col-xs-12">
            <form action="/internal/form_make_or_claim_user_and_claim_hex/{{ hex_object.id }}" method="POST" name="link_submit">
              <div class="input-container form-group col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
                {{ form.hidden_tag() }}
                {{ form.username(class="form-control") }}
              </div>
              <div class="input-container form-group col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
                <div class="col-xs-6 nopadding-left lesspadding-right">
                  {{ form.password(class="form-control") }}
                </div>
                <div class="col-xs-6 nopadding-right lesspadding-left">
                  {{ form.password_two(class="form-control") }}
                </div>
              </div>
              <div class="col-xs-12 center-block">
                <button type="submit" class="btn btn-default center-block">claim hex</button>
              </div>
            </form>
          </div>
          <div class="terms-of-service col-xs-12 center-block">
            <p>by claiming this hex you agree to the hexlist <a href="{{ url_for('terms_view') }}" target="_blank">terms of service</a></p>
          </div>

        {% elif logged_in_claim_hex %}
          <div class="col-xs-12">
              <form action="/internal/form_make_or_claim_user_and_claim_hex_logged_in/{{ hex_object.id }}" method="POST" name="link_submit">
                <div class="col-xs-12 center-block">
                  <button type="submit" class="btn btn-default center-block">claim hex</button>
                </div>
              </form>
            </div>
          {% elif textarea_form %}
            <div class="col-xs-12">
              <form action="/internal/form_add_links_to_hex/{{ hex_object.id }}" method="POST" name="link_submit">
                <div class="input-container form-group col-sm-10 col-sm-offset-1">
                  {{ textarea_form.hidden_tag() }}
                  {{ textarea_form.links(class="form-control",rows="8") }}
                </div>
                <div class="col-xs-12 center-block">
                  <button type="submit" class="btn btn-default center-block">add links</button>
                </div>
              </form>
            </div>
        {% endif %}

        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <div class=flashes>
            {% for message in messages %}
              <p>{{ message }}</p>
            {% endfor %}
            </div>
          {% endif %}
        {% endwith %}
    </div>

    {% if enable_editing_controls %}
      <script>
          var currentHexName = $('#hex-title').text()
          $("[contenteditable='true']#hex-title").on("blur", function() {
              $(this).text(currentHexName)
          });

          $('#hex-title').bind("keydown", function(event) {
              var target = $(event.target)
              c = event.keyCode
              
              //Enter or escape
              if (c === 27 || c == 13) {
                if (c == 13) {
                  //If the title is not empty, set the new title
                  var newHexName = $(this).text().trim()
                  if (newHexName.length !== 0) {
                      //Max Length for hex title is 100 characters
                      newHexName = newHexName.substring(0, Math.min(newHexName.length,100));
                      currentHexName = newHexName
                  }
                  $("#rename-hex-field").val(currentHexName)
                  $("#rename-hex-form").submit()
                }

                $("#hex-title").blur()
                // Workaround for webkit's bug
                window.getSelection().removeAllRanges()
              }
          });
      </script>
    {% endif %}

    {% if enable_editing_controls %}
      <script>
      $(".dropdown-button").mouseup(function(){
          $(this).blur();
      })
      $(".delete-link").click(function(e) {
        link_id = $(this).data('link-id')
        link_div = $(this).closest('div[class^="list-link-div"]')
        
        $.ajax({
            url: '/internal/form_delete_link/' + link_id,
            type: 'POST',
            success: function(response) {
              link_div.remove();
            },
            error: function(error) {
                console.log(error);
                alert(error)
            }
        });
      });
      </script>
    {% endif %}

{% endblock %}