{% extends "base.html" %}

{% block content %}

<div class="content-container">
    <p class="hexlist-title">Hexlist</p>
    <form action="/login" method="POST" name="link_submit">
      <div class="input-container">
        {{ form.hidden_tag() }}
        {{ form.username }}
        {{ form.password }}
        <p><input type="submit" value="login"></p>
      </div>
    </form>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class=flashes>
        {% for message in messages %}
          <p>{{ message }}</p>
        {% endfor %}
        </div>
      {% endif %}
    {% endwith %}
</div>

{% endblock %}