{% extends "base.html" %}

{% block content %}

    <div class="logo-container">
        <a class="logo" href="/" style="background-image: url('/static/hexlist.png')"></a>
    </div>

    <div class="content-container container">
        <p class="hexlist-title">hexlist</p>
        <p>hexlist is a simple link manager and organizer</p>
        <p>put some links in the text area below</p>
        <p>get an organized hex</p>
        <div class="col-xs-12">
          <form action="/internal/form_hex_create" method="POST" name="link_submit">
            <div id="make-hex-form" class="hexlist-form input-container form-group form-group">
              {{ form.hidden_tag() }}
              {{ form.links(class="form-control",rows="20") }}
            </div>
            <div class="col-xs-12 center-block">
              <button type="submit" class="btn btn-default center-block">make hex</button>
            </div>
          </form>
        </div>
        
    </div>

{% endblock %}
