{% extends "base.html" %}

{% block content %}
    
    <div class="content-container container">
        <h2 class="list-title">{{ username }}'s hexlist</h2>
        <div class="list-content">
        {% for hex in hexes %}
          <div class="list-link-div">
            {% if not hex.is_private %}
              <a class="list-link" href="{{ url_for('hex_view', hex_object_id=hex.id) }}">{{ hex.name }}</a>
            {% elif hex.is_private and should_show_private_hexes %}
            <a class="list-link" href="{{ url_for('hex_view', hex_object_id=hex.id) }}">{{ hex.name }}</a>
            {% endif %}
            {% if enable_editing_controls %}
              <span class="btn-group list-link-dropdown" style="visibility: hidden;">
                <button class="dropdown-button btn btn-mini button-transparent dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu pull-right">
                    <li><a class="rename-hex" data-hex-id="{{ hex.id }}" data-hex-name="{{ hex.name }}" style="cursor:pointer;"><span class="glyphicon glyphicon-pencil" style="padding-right:10px;"></span>Rename</a></li>
                    {% if hex.is_private %}
                      <li><a class="make-public" data-hex-id="{{ hex.id }}" style="cursor:pointer;"><span class="glyphicon glyphicon-eye-open" style="padding-right:10px;"></span>Make public</a></li>
                    {% else %}
                      <li><a class="make-private" data-hex-id="{{ hex.id }}" style="cursor:pointer;"><span class="glyphicon glyphicon-eye-close" style="padding-right:10px;"></span>Make private</a></li>
                    {% endif %}
                    <li><a class="delete-hex" data-hex-id="{{ hex.id }}" data-hex-name="{{ hex.name }}" data-toggle="modal" href="#confirm-delete" style="color:#d9534f;"><span class="glyphicon glyphicon-trash" style="padding-right:10px;"></span>Delete</a></li>
                </ul>
              </span>
            </div>
          {% endif %}
        {% endfor %}
        </div>
    </div>

    {% if enable_editing_controls %}
      <form method="POST" name="rename_hex" id="rename-hex-form" style="display:none;">
          {{ rename_hex_form.hidden_tag() }}
          {{ rename_hex_form.hexname(type="hidden", id="rename-hex-field") }}
      </form>
      <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
              <div class="modal-content">
                  <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                      <h3 class="modal-title" id="myModalLabel" style="color:black;">Delete Hex</h3>
                  </div>
                  <div class="modal-body" style="color:black;"></div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                      <a id="confirm-delete-button" class="btn btn-danger" data-dismiss="modal">Delete</a>
                  </div>
              </div>
          </div>
      </div>
    {% endif %}
    {% if email_form and hexes|length > 2 %}
        {% include 'email.html' %}
    {% endif %}

    {% if enable_editing_controls %}
      <script>
        $(".list-link-div").hover(function(){
          $(this).find('.list-link-dropdown').css('visibility', 'visible')
        }, function() {
          $(this).find('.list-link-dropdown').css('visibility', 'hidden')
        })
        $(".dropdown-button").mouseup(function(){
            $(this).blur();
        })

        $(document).on('click','.make-private',function(){
          privacy_button = $(this)
          hex_id = $(this).data('hex-id')
          $.ajax({
            url: '/internal/toggle_private/' + hex_id,
            type: 'POST',
              success: function(response) {
                console.log('switched privacy')
                $(privacy_button).replaceWith('<a class="make-public" data-hex-id="'+hex_id+'" style="cursor:pointer;"><span class="glyphicon glyphicon-eye-open" style="padding-right:10px;"></span>Make public</a>')
              },
              error: function(error) {
                  console.log(error);
                  alert(error)
              }
          })
        })

        $(document).on('click','.make-public',function(){
          privacy_button = $(this)
          hex_id = $(this).data('hex-id')
          $.ajax({
            url: '/internal/toggle_private/' + hex_id,
            type: 'POST',
              success: function(response) {
                console.log('switched privacy')
                $(privacy_button).replaceWith('<a class="make-private" data-hex-id="'+hex_id+'" style="cursor:pointer;"><span class="glyphicon glyphicon-eye-close" style="padding-right:10px;"></span>Make private</a>')
              },
              error: function(error) {
                  console.log(error);
                  alert(error)
              }
          })
        })
        
        $(".rename-hex").click(function(e) {
          current_hex_name = $(this).data('hex-name')
          hex_id = $(this).data('hex-id')
          hex_div = $(this).closest('div[class^="list-link-div"]')
          hex_link = hex_div.find('.list-link')
          hex_link.attr('contenteditable','true')
          hex_link.selectText()

          rename_form = $('#rename-hex-form')
          rename_field = rename_form.find('#rename-hex-field')

          hex_link.on("blur", function() {
              hex_link.text(current_hex_name)
              hex_link.attr('contenteditable','false')
          });
          hex_link.bind("keydown", function(event) {
              var target = $(event.target)
              c = event.keyCode
              
              //Enter or escape
              if (c === 27 || c == 13) {
                if (c == 13) {
                  //If the title is not empty, set the new title
                  var new_hex_name = $(this).text().trim()
                  if (new_hex_name.length !== 0) {
                      //Max Length for hex title is 100 characters
                      new_hex_name = new_hex_name.substring(0, Math.min(new_hex_name.length,100));
                      current_hex_name = new_hex_name
                  }
                  rename_field.val(current_hex_name)

                  //Submit rename request
                  $.ajax({
                      url: '/internal/form_update_hex_name/' + hex_id,
                      data: $(rename_form).serialize(),
                      type: 'POST',
                      success: function(response) {},
                      error: function(error) {
                          console.log(error);
                          alert(error)
                      }
                  });
                }

                hex_link.blur()
                // Workaround for webkit's bug
                window.getSelection().removeAllRanges()
              }
          });
        });
        $(".delete-hex").click(function(e) {
          hex_name = $(this).data('hex-name')
          hex_id = $(this).data('hex-id')
          hex_div = $(this).closest('div[class^="list-link-div"]')
          $('#confirm-delete-button').data('hex_id', hex_id)
          $('#confirm-delete-button').data('hex_div', hex_div)
          $('#confirm-delete .modal-body').text('Are you sure you want to delete ' + hex_name + '?')
        });
        
        $('#confirm-delete-button').click(function(e) {
          hex_id = $(this).data('hex_id')
          hex_div = $(this).data('hex_div')
          $.ajax({
              url: '/internal/form_delete_hex/' + hex_id,
              type: 'POST',
              success: function(response) {
                hex_div.remove();
              },
              error: function(error) {
                  console.log(error);
                  alert(error)
              }
          });
        });

        jQuery.fn.selectText = function(){
           var doc = document;
           var element = this[0];
           console.log(this, element);
           if (doc.body.createTextRange) {
               var range = document.body.createTextRange();
               range.moveToElementText(element);
               range.select();
           } else if (window.getSelection) {
               var selection = window.getSelection();        
               var range = document.createRange();
               range.selectNodeContents(element);
               selection.removeAllRanges();
               selection.addRange(range);
           }
        };
      </script>
    {% endif %}
{% endblock %}