{% extends "base.html" %}

{% block content %}

    {% if show_login %}

    <div class="login_class"><a href="{{ url_for('login_page') }}">login</a></div>

    {% else %}

    <div class="login_class"><a href="{{ url_for('logout') }}">logout</a></div>

    {% endif %}
    
    <div class="content-container">
        <p class="hexlist-title">Hexlist</p>
        <p>{{ username }}</p>
        {% for hex in hexes %}
            <p><a href="{{ url_for('hex_view', hex_object_id=hex.id) }}">{{ hex.name }}</a></p>
        {% endfor %}
    </div>

{% endblock %}